



<span>Bonjour et  </span><span class="big-green">Bienvenu</span><span>sur le site intrenet  </span><span class="pink-italic">super facile</span><span class="bold">à utiliser !</span>
<p>Pour profiter plainement d'une utilisassion totale des fonctionalitées du site 
    il va vous falloir dabord ramplir un formulère de consentment au vol et à la revante 
    de vos infromations à de la sociétés frauduleuses et/ou/pas.
    Pour commencer et accepter le début de la procédure prélimiaire, 
</p>
<a id="start-ici" href="">Veuillez</a><button id="big-ici">cliquer</button> <a id="little-ici" href="/form-page">ici</a>





