


*{
    color: black;
    font-size: 20px;
}

.big-green{
    color: rgb(111, 255, 111);
    font-size: 50px;
}
.pink-italic{
    color: rgb(146, 76, 88);
    font-style: italic;
}
.bold{
    font-weight: bolder;
}

#start-ici{
    background-color: aliceblue;
    border: 1px solid black;
}
#big-ici{
    color: red;
}
#little-ici{
    color: blue;
    cursor:grab;
}






